.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  background-color: #B2DFDB;
}

.Navs ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navs li {
  display: inline-block;
  margin: 20px;
}

.Navs a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.Navs a:hover,
.Navs a:active {
  color: white;
}

.Navs {
  background-color: #fa923f;
}

.cropImage{

}

.imgDesc {
  clear: both;
  text-align: left;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black; 
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Green */
.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}