.Tweet{
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;

    background-color: #E3F2FD;
    border-radius: 7px;
}

.imgIcon{
    text-align: left;
    object-fit:cover;
    border-radius:50%;
    margin-bottom: 20px;
    margin-right: 3px;
}

.analisys{
    text-align: left;
}

.userName{
    float: left;
}

.rightAlign{
    float: right;
}
@media (min-width: 500px) {
    .Tweet{
        width : 450px
    }
} 